@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
    --clr-Purple-100: #dacffc;
    --clr-Purple-500: #7650dc;
    
    --clr-Yellow-100: #f9eee1;
    --clr-Yellow-500: #ffcb6b;
    
    --clr-White: #ffffff;
    --clr-Black: #121212;


    --ff-main: "DM Sans", serif;
    --fs-body: 1.125rem;
    --fs-heading: 1.75rem;

    --fw-400: 400;
    --fw-500: 500;
}


/* reset */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 2rem 1rem;
    background-color: #f9f9f9;
    font-family: var(--ff-main);
}

main {
    margin-inline: auto;
    max-width: 60rem;
}

h1 {
    font-weight: var(--fw-500);
    font-size: 2.75rem;
    font-family: var(--fw-500);
}

h2 {
    font-size: var(--fs-heading);
    font-weight: var(--fw-500);
    line-height: 0.9;
}

small {
    font-size: var(--fs-body);
}

img {
    max-width: 80%;
    /* display: block; */
}


.bento-grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 13rem 13rem 13rem;
    grid-template-areas: 
        "column-1 column-2 column-3"
        "column-1 column-2 column-3"
        "column-1 column-4 column-4"
    ;
    gap: 1rem;
}

.bento-grid-container > *, .double-col {
    display: grid;
    gap: 1rem;
}

.double-col {
    grid-template-columns: 1fr 1fr;
}

.double-col:nth-child(1) {
    grid-template-columns: 0.95fr 2fr;
}

.grid-item-element {
    border-radius: 0.5rem;
    padding: 1rem;
    
}

.grid {
    display: grid;
    gap: 1rem;
}

.column-1 {
    grid-area: column-1;
}

.column-2 {
    grid-area: column-2;
}

.column-3 {
    grid-area: column-3;
}

.column-4 {
    grid-area: column-4;
   
}

.create {
    background-color: var(--clr-Yellow-100);
    padding: 2rem;
    place-content: center;
}

.write {
    background-color: var(--clr-Yellow-500);
    place-content: center;
}

.social {
    place-content: center;
    background-color: var(--clr-Purple-500);
    text-align: center;
    color: var(--clr-White);
}

.social img {
    max-width: 10rem;
    margin-inline: auto;
}

.manage {
    background-color: var(--clr-White);
    overflow: hidden;
}

.manage img {
    position: relative;
    right: -2rem;
    max-width: 100%;
    margin-bottom: 1rem;
    
}

.maintain {
    background-color: var(--clr-Yellow-500);
    overflow: hidden;
    position: relative;
}

.maintain img {
    position: absolute;
    bottom: -4rem;
    left: 1.4rem;
    /* max-width: 95%; */
}

.schedule {
    background-color: var(--clr-Purple-100);
    place-content: center;
    overflow: hidden;
    /* position: relative; */
}

.schedule img {
    position: relative;
    left: 1.5rem;
    max-width: 100%;
}

.audience {
    background-color: var(--clr-White);
    place-content: center;
} 

.followers {
    background-color: var(--clr-Purple-500);
    grid-template-columns: 1fr 1fr;
    place-items: center;
    color: white;
}




